In [1]:
import pandas as pd
import numpy as np

In [2]:
small_matrix = pd.read_csv("data/small_matrix.csv")

user_features = pd.read_csv("data/user_features.csv")

item_daily_features = pd.read_csv("data/item_daily_features.csv")

caption_category = pd.read_csv("data/kuairec_caption_category_translated.csv",lineterminator='\n')

# Small Matrix

In [3]:
small_matrix

,user_id,video_id,play_duration,video_duration,time,date,timestamp,watch_ratio
0,14,148,4381,6067,2020-07-05 05:27:48.378,20200705.0,1.593898e+09,0.722103
1,14,183,11635,6100,2020-07-05 05:28:00.057,20200705.0,1.593898e+09,1.907377
2,14,3649,22422,10867,2020-07-05 05:29:09.479,20200705.0,1.593898e+09,2.063311
3,14,5262,4479,7908,2020-07-05 05:30:43.285,20200705.0,1.593898e+09,0.566388
4,14,8234,4602,11000,2020-07-05 05:35:43.459,20200705.0,1.593899e+09,0.418364
...,...,...,...,...,...,...,...,...
4676565,7162,2267,11908,5467,NaN,NaN,NaN,2.178160
4676566,7162,2065,11919,6067,NaN,NaN,NaN,1.964562
4676567,7162,1296,16690,19870,NaN,NaN,NaN,0.839960
4676568,7162,4822,11862,24400,NaN,NaN,NaN,0.486148
4676569,7162,4364,2182,19367,NaN,NaN,NaN,0.112666

In [4]:
# Columns to keep
cleaned_small_matrix = small_matrix[['user_id', 'video_id', 'time', 'watch_ratio']]

In [5]:
cleaned_small_matrix['time'] = pd.to_datetime(cleaned_small_matrix['time'], errors='coerce')

/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/2011502534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_small_matrix['time'] = pd.to_datetime(cleaned_small_matrix['time'], errors='coerce')

In [6]:
cleaned_small_matrix = cleaned_small_matrix[cleaned_small_matrix['watch_ratio'] <= 5]

In [7]:
cleaned_small_matrix.isnull().sum()

user_id             0
video_id            0
time           181074
watch_ratio         0
dtype: int64

In [8]:
cleaned_small_matrix.dtypes

user_id                 int64
video_id                int64
time           datetime64[ns]
watch_ratio           float64
dtype: object

In [9]:
cleaned_small_matrix

         user_id  video_id                    time  watch_ratio
0             14       148 2020-07-05 05:27:48.378     0.722103
1             14       183 2020-07-05 05:28:00.057     1.907377
2             14      3649 2020-07-05 05:29:09.479     2.063311
3             14      5262 2020-07-05 05:30:43.285     0.566388
4             14      8234 2020-07-05 05:35:43.459     0.418364
...          ...       ...                     ...          ...
4676565     7162      2267                     NaT     2.178160
4676566     7162      2065                     NaT     1.964562
4676567     7162      1296                     NaT     0.839960
4676568     7162      4822                     NaT     0.486148
4676569     7162      4364                     NaT     0.112666

[4653780 rows x 4 columns]

In [10]:
earliest_date = cleaned_small_matrix['time'].min()
latest_date = cleaned_small_matrix['time'].max()

print(f"Earliest date: {earliest_date}")
print(f"Latest date: {latest_date}")

Earliest date: 2020-07-04 02:23:26.060000
Latest date: 2020-09-05 23:57:23.683000

# User Features

In [11]:
user_features

,user_id,user_active_degree,is_lowactive_period,is_live_streamer,is_video_author,follow_user_num,follow_user_num_range,fans_user_num,fans_user_num_range,friend_user_num,...,onehot_feat8,onehot_feat9,onehot_feat10,onehot_feat11,onehot_feat12,onehot_feat13,onehot_feat14,onehot_feat15,onehot_feat16,onehot_feat17
0,0,high_active,0,0,0,5,"(0,10]",0,0,0,...,184,6,3,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,full_active,0,0,0,386,"(250,500]",4,"[1,10)",2,...,186,6,2,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,full_active,0,0,0,27,"(10,50]",0,0,0,...,51,2,3,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,full_active,0,0,0,16,"(10,50]",0,0,0,...,251,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,full_active,0,0,0,122,"(100,150]",4,"[1,10)",0,...,99,4,2,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,7171,full_active,0,0,1,52,"(50,100]",1,"[1,10)",0,...,259,1,4,0,1.0,0.0,0.0,0.0,0.0,0.0
7172,7172,full_active,0,0,0,45,"(10,50]",2,"[1,10)",2,...,11,2,0,0,1.0,0.0,0.0,0.0,0.0,0.0
7173,7173,full_active,0,0,0,615,500+,3,"[1,10)",2,...,51,2,2,0,1.0,0.0,0.0,0.0,0.0,0.0
7174,7174,full_active,0,0,0,959,500+,0,0,0,...,107,3,2,0,0.0,0.0,0.0,0.0,0.0,0.0
7175,7175,full_active,0,0,1,98,"(100,150]",35,"[10,100)",33,...,132,5,2,0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Columns to keep
cleaned_user_features = user_features[['user_id',
    'user_active_degree',
    'is_lowactive_period',
    'is_live_streamer',
    'is_video_author',
    'follow_user_num',
    'fans_user_num',
    'friend_user_num',
    'register_days']]

In [13]:
cleaned_user_features.isnull().sum()

user_id                0
user_active_degree     0
is_lowactive_period    0
is_live_streamer       0
is_video_author        0
follow_user_num        0
fans_user_num          0
friend_user_num        0
register_days          0
dtype: int64

In [14]:
cleaned_user_features

,user_id,user_active_degree,is_lowactive_period,is_live_streamer,is_video_author,follow_user_num,fans_user_num,friend_user_num,register_days
0,0,high_active,0,0,0,5,0,0,107
1,1,full_active,0,0,0,386,4,2,327
2,2,full_active,0,0,0,27,0,0,116
3,3,full_active,0,0,0,16,0,0,105
4,4,full_active,0,0,0,122,4,0,225
...,...,...,...,...,...,...,...,...,...
7171,7171,full_active,0,0,1,52,1,0,283
7172,7172,full_active,0,0,0,45,2,2,109
7173,7173,full_active,0,0,0,615,3,2,167
7174,7174,full_active,0,0,0,959,0,0,241
7175,7175,full_active,0,0,1,98,35,33,167

# Item Daily Features

In [15]:
item_daily_features

,video_id,date,author_id,video_type,upload_dt,upload_type,visible_status,video_duration,video_width,video_height,...,download_cnt,download_user_num,report_cnt,report_user_num,reduce_similar_cnt,reduce_similar_user_num,collect_cnt,collect_user_num,cancel_collect_cnt,cancel_collect_user_num
0,0,20200705,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,8,8,0,0,3,3,NaN,NaN,NaN,NaN
1,0,20200706,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,5,5,NaN,NaN,NaN,NaN
2,0,20200707,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,0,0,0,0,NaN,NaN,NaN,NaN
3,0,20200708,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,3,3,0,0,3,3,NaN,NaN,NaN,NaN
4,0,20200709,3309,NORMAL,2020-03-30,ShortImport,public,5966.0,720,1280,...,2,2,2,1,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343336,10723,20200905,236,NORMAL,2020-09-05,ShortImport,public,4833.0,720,1280,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
343337,10724,20200905,5271,NORMAL,2020-09-05,LongImport,public,54720.0,720,1280,...,1,1,0,0,0,0,0.0,0.0,0.0,0.0
343338,10725,20200905,1924,NORMAL,2020-09-05,ShortImport,public,15800.0,576,1024,...,5,5,0,0,4,4,0.0,0.0,0.0,0.0
343339,10726,20200905,7604,NORMAL,2020-09-05,ShortImport,public,5132.0,528,960,...,2,2,0,0,1,1,0.0,0.0,0.0,0.0
343340,10727,20200905,7464,NORMAL,2020-09-05,ShortCamera,public,5666.0,720,1556,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [16]:
cleaned_item_daily_features = item_daily_features[item_daily_features['visible_status'] == 'public'][['video_id',
    'author_id',
    'video_type',
    'upload_dt',
    'video_duration',
    'video_tag_name',
    'show_cnt',
    'play_cnt',
    'play_duration',
    'like_cnt',
    'comment_cnt',
    'share_cnt',
    'follow_cnt',
    'collect_cnt']]

In [17]:
def concat_tags(x):
    # Convert all values to strings and remove any NaN values
    tags = [str(tag) for tag in x if pd.notna(tag)]
    return ', '.join(sorted(set(tags)))

In [18]:
cleaned_item_daily_features = cleaned_item_daily_features.groupby(['video_id', 'author_id', 'video_type']).agg({
    'video_tag_name': concat_tags,
    'video_duration': 'mean',
    'show_cnt': 'sum',
    'play_cnt': 'sum',
    'play_duration': 'sum',
    'like_cnt': 'sum',
    'comment_cnt': 'sum',
    'share_cnt': 'sum',
    'follow_cnt': 'sum',
    'collect_cnt': 'sum'
}).reset_index()

In [19]:
# Handle missing values in video_duration using mean
cleaned_item_daily_features['video_duration'] = cleaned_item_daily_features['video_duration'].fillna(
    cleaned_item_daily_features['video_duration'].mean()
)

# Replace missing values in video_tag_name with 'Unknown'
cleaned_item_daily_features['video_tag_name'] = cleaned_item_daily_features['video_tag_name'].fillna('Unknown')

# For collect_cnt, if you want to handle that as well, you can use mean:
cleaned_item_daily_features['collect_cnt'] = cleaned_item_daily_features['collect_cnt'].fillna(
    cleaned_item_daily_features['collect_cnt'].mean()
)

In [20]:
cleaned_item_daily_features.isnull().sum()

video_id          0
author_id         0
video_type        0
video_tag_name    0
video_duration    0
show_cnt          0
play_cnt          0
play_duration     0
like_cnt          0
comment_cnt       0
share_cnt         0
follow_cnt        0
collect_cnt       0
dtype: int64

In [21]:
cleaned_item_daily_features

,video_id,author_id,video_type,video_tag_name,video_duration,show_cnt,play_cnt,play_duration,like_cnt,comment_cnt,share_cnt,follow_cnt,collect_cnt
0,0,3309,NORMAL,"建筑, 颜值",5966.000000,805839,411691,3672586209,24493,448,105,12626,119.0
1,1,4978,NORMAL,高新数码,11883.336671,136718,141667,2453652741,8267,59,64,246,0.0
2,2,939,NORMAL,"搞笑, 生活",8000.000000,650377,670248,8644331149,3180,30,19,404,0.0
3,3,5889,NORMAL,"摄影, 树木",11883.336671,16406,9137,79212221,941,7,26,37,3.0
4,4,4284,NORMAL,"卖衣服, 穿搭",18000.000000,825,610,7506745,3,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10671,10723,236,NORMAL,生活,4833.000000,277,214,1681908,24,0,0,0,0.0
10672,10724,5271,NORMAL,音乐,54720.000000,1100,965,56090732,264,29,1,8,0.0
10673,10725,1924,NORMAL,才艺,15800.000000,16996,15487,323787284,851,36,3,12,0.0
10674,10726,7604,NORMAL,情感,5132.000000,7644,7859,128835301,44,0,1,2,0.0
10675,10727,7464,NORMAL,穿搭,5666.000000,563,233,917740,7,0,0,1,0.0

# Caption Category

In [22]:
caption_category

,video_id,manual_cover_text,caption,topic_tag,first_level_category_id,first_level_category_name,second_level_category_id,second_level_category_name,third_level_category_id,third_level_category_name,english_caption,english_first_level_category_name,english_second_level_category_name,english_third_level_category_name,english_topic_tag
0,0,UNKNOWN,精神小伙路难走 程哥你狗粮慢点撒,[],8.0,颜值,673.0,颜值随拍,-124.0,UNKNOWN,"The spirit of the young man is tough;程哥, pleas...",Beauty index,Snap of good looks,UNKNOWN,[]
1,1,UNKNOWN,NaN,[],27.0,高新数码,-124.0,UNKNOWN,-124.0,UNKNOWN,man,HighTech Digital,UNKNOWN,UNKNOWN,[]
2,2,UNKNOWN,晚饭后，运动一下！,[],9.0,喜剧,727.0,搞笑互动,-124.0,UNKNOWN,"After dinner, get some exercise!",Comedy,Humorous interaction,UNKNOWN,[]
3,3,UNKNOWN,我平淡无奇，惊艳不了时光，温柔不了岁月，我只想漫无目的的走走，努力发笔小财，给自己买花 自己长大.,[],26.0,摄影,686.0,主题摄影,2434.0,景物摄影,"I am unremarkable, unable to stun time or soft...",Photography,Theme Photography,Landscape photography,[]
4,4,五爱街最美美女 一天1q,#搞笑 #感谢快手我要上热门 #五爱市场 这真是完美搭配啊！,"[五爱市场,感谢快手我要上热门,搞笑]",5.0,时尚,737.0,营销售卖,2596.0,女装,#Humorous #Thanks快准热浪 #Wulai Market This is a ...,Fashion,Sales promotion,Women's clothing,"[Wulai Market, thanks for Fastly Me Wanting to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10727,10723,UNKNOWN,昨天爱你，今天爱你，明天也爱你，丫头，别担心，我以后都会爱你，我的小傻瓜@公主没烦恼 、(O...,[],33.0,自拍,-124.0,UNKNOWN,-124.0,UNKNOWN,"Love you yesterday, love you today, and love y...",Selfie,UNKNOWN,UNKNOWN,[]
10728,10724,UNKNOWN,#感谢推广小助手 #感谢快手绿色平台 #,"[感谢快手绿色平台,感谢推广小助手]",6.0,明星娱乐,-124.0,UNKNOWN,-124.0,UNKNOWN,#ThanksPromotionAssistant #ThanksFastlyGreenP...,Stars' Entertainment,UNKNOWN,UNKNOWN,Thanks for the Green Platform of Kuaishou and ...
10729,10725,UNKNOWN,NaN,[],15.0,艺术,170.0,表演,-124.0,UNKNOWN,man,Art,Performance,UNKNOWN,[]
10730,10726,老人言,老人言，喜欢留个关注加红心 #老人言 @今天拍点啥(O840386039) @快手活动中...,[老人言],38.0,读书,696.0,文学赏析,2477.0,民间俗语,"The old man said, like to leave a follow and a...",Reading,Literary Appreciation,Proverb,[Older People Say]
10731,10727,一眼就喜欢的链条卫衣🔥,一眼就喜欢的链条纯色卫衣 百搭颜色黑白灰 喜欢的宝宝点点关注 小黄车可直接下单哈#主播中心 ...,"[主播中心,作品推广,快手创作者服务中心,感谢快手我要上热门,智能推广]",5.0,时尚,737.0,营销售卖,-124.0,UNKNOWN,A chain hoodie in pure colors that I liked at ...,Fashion,Sales promotion,UNKNOWN,"[Host Center, Work Promotion, Douyin Creator S..."

In [23]:
caption_category = caption_category[
    caption_category['video_id'].notna() & 
    pd.to_numeric(caption_category['video_id'], errors='coerce').notna()
]
caption_category['video_id'] = caption_category['video_id'].astype('int64')

/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/1644338525.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  caption_category['video_id'] = caption_category['video_id'].astype('int64')

In [24]:
# Clean column names using str.replace
caption_category.columns = caption_category.columns.str.replace('\r', '')

In [25]:
cleaned_caption_category = caption_category[['video_id', 'manual_cover_text', 'caption', 'topic_tag',
       'first_level_category_name', 'second_level_category_name', 'third_level_category_name',
       'english_caption', 'english_first_level_category_name',
       'english_second_level_category_name',
       'english_third_level_category_name', 'english_topic_tag']]
columns_to_fill = [
    'caption',
    'first_level_category_name',
    'second_level_category_name',
    'third_level_category_name',
    'english_first_level_category_name',
    'english_second_level_category_name',
    'english_third_level_category_name'
]

cleaned_caption_category[columns_to_fill] = cleaned_caption_category[columns_to_fill].fillna('')
cleaned_caption_category['topic_tag'].fillna('[]', inplace=True)
# Replace 'man' with empty string for english_caption
cleaned_caption_category['english_caption'] = cleaned_caption_category['english_caption'].replace('man', '', regex=False)

/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/3763289473.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_caption_category[columns_to_fill] = cleaned_caption_category[columns_to_fill].fillna('')
/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/3763289473.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_caption_category['topic_tag'].fillna('[]', inplace=True)
/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/3763289473.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_caption_category['topic_tag'].fillna('[]', inplace=True)
/var/folders/ft/hzncs0l175q8kfd2318c69m00000gn/T/ipykernel_15345/3763289473.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_caption_category['english_caption'] = cleaned_caption_category['english_caption'].replace('man', '', regex=False)

In [26]:
cleaned_caption_category.isnull().sum()

video_id                              0
manual_cover_text                     0
caption                               0
topic_tag                             0
first_level_category_name             0
second_level_category_name            0
third_level_category_name             0
english_caption                       0
english_first_level_category_name     0
english_second_level_category_name    0
english_third_level_category_name     0
english_topic_tag                     0
dtype: int64

In [27]:
cleaned_caption_category

,video_id,manual_cover_text,caption,topic_tag,first_level_category_name,second_level_category_name,third_level_category_name,english_caption,english_first_level_category_name,english_second_level_category_name,english_third_level_category_name,english_topic_tag
0,0,UNKNOWN,精神小伙路难走 程哥你狗粮慢点撒,[],颜值,颜值随拍,UNKNOWN,"The spirit of the young man is tough;程哥, pleas...",Beauty index,Snap of good looks,UNKNOWN,[]
1,1,UNKNOWN,,[],高新数码,UNKNOWN,UNKNOWN,,HighTech Digital,UNKNOWN,UNKNOWN,[]
2,2,UNKNOWN,晚饭后，运动一下！,[],喜剧,搞笑互动,UNKNOWN,"After dinner, get some exercise!",Comedy,Humorous interaction,UNKNOWN,[]
3,3,UNKNOWN,我平淡无奇，惊艳不了时光，温柔不了岁月，我只想漫无目的的走走，努力发笔小财，给自己买花 自己长大.,[],摄影,主题摄影,景物摄影,"I am unremarkable, unable to stun time or soft...",Photography,Theme Photography,Landscape photography,[]
4,4,五爱街最美美女 一天1q,#搞笑 #感谢快手我要上热门 #五爱市场 这真是完美搭配啊！,"[五爱市场,感谢快手我要上热门,搞笑]",时尚,营销售卖,女装,#Humorous #Thanks快准热浪 #Wulai Market This is a ...,Fashion,Sales promotion,Women's clothing,"[Wulai Market, thanks for Fastly Me Wanting to..."
...,...,...,...,...,...,...,...,...,...,...,...,...
10727,10723,UNKNOWN,昨天爱你，今天爱你，明天也爱你，丫头，别担心，我以后都会爱你，我的小傻瓜@公主没烦恼 、(O...,[],自拍,UNKNOWN,UNKNOWN,"Love you yesterday, love you today, and love y...",Selfie,UNKNOWN,UNKNOWN,[]
10728,10724,UNKNOWN,#感谢推广小助手 #感谢快手绿色平台 #,"[感谢快手绿色平台,感谢推广小助手]",明星娱乐,UNKNOWN,UNKNOWN,#ThanksPromotionAssistant #ThanksFastlyGreenP...,Stars' Entertainment,UNKNOWN,UNKNOWN,Thanks for the Green Platform of Kuaishou and ...
10729,10725,UNKNOWN,,[],艺术,表演,UNKNOWN,,Art,Performance,UNKNOWN,[]
10730,10726,老人言,老人言，喜欢留个关注加红心 #老人言 @今天拍点啥(O840386039) @快手活动中...,[老人言],读书,文学赏析,民间俗语,"The old man said, like to leave a follow and a...",Reading,Literary Appreciation,Proverb,[Older People Say]
10731,10727,一眼就喜欢的链条卫衣🔥,一眼就喜欢的链条纯色卫衣 百搭颜色黑白灰 喜欢的宝宝点点关注 小黄车可直接下单哈#主播中心 ...,"[主播中心,作品推广,快手创作者服务中心,感谢快手我要上热门,智能推广]",时尚,营销售卖,UNKNOWN,A chain hoodie in pure colors that I liked at ...,Fashion,Sales promotion,UNKNOWN,"[Host Center, Work Promotion, Douyin Creator S..."

# Train, Val, Test Split

In [28]:
print(cleaned_small_matrix.columns)
print(cleaned_user_features.columns)
print(cleaned_item_daily_features.columns)
print(cleaned_caption_category.columns)

Index(['user_id', 'video_id', 'time', 'watch_ratio'], dtype='object')
Index(['user_id', 'user_active_degree', 'is_lowactive_period',
       'is_live_streamer', 'is_video_author', 'follow_user_num',
       'fans_user_num', 'friend_user_num', 'register_days'],
      dtype='object')
Index(['video_id', 'author_id', 'video_type', 'video_tag_name',
       'video_duration', 'show_cnt', 'play_cnt', 'play_duration', 'like_cnt',
       'comment_cnt', 'share_cnt', 'follow_cnt', 'collect_cnt'],
      dtype='object')
Index(['video_id', 'manual_cover_text', 'caption', 'topic_tag',
       'first_level_category_name', 'second_level_category_name',
       'third_level_category_name', 'english_caption',
       'english_first_level_category_name',
       'english_second_level_category_name',
       'english_third_level_category_name', 'english_topic_tag'],
      dtype='object')

In [29]:
# Split the data based on date ranges
train_data = cleaned_small_matrix[
    (cleaned_small_matrix['time'] >= '2020-07-04') & 
    (cleaned_small_matrix['time'] <= '2020-08-04')
]

val_data = cleaned_small_matrix[
    (cleaned_small_matrix['time'] >= '2020-08-04') & 
    (cleaned_small_matrix['time'] <= '2020-08-20')
]

test_data = cleaned_small_matrix[
    (cleaned_small_matrix['time'] >= '2020-08-20') & 
    (cleaned_small_matrix['time'] <= '2020-09-05')
]

# Optionally, reset indices
train_data.reset_index(drop=True, inplace=True)
val_data.reset_index(drop=True, inplace=True)
test_data.reset_index(drop=True, inplace=True)

# Verify the splits
print(f"Training set dates: {train_data['time'].min()} to {train_data['time'].max()}")
print(f"Validation set dates: {val_data['time'].min()} to {val_data['time'].max()}")
print(f"Test set dates: {test_data['time'].min()} to {test_data['time'].max()}")

Training set dates: 2020-07-04 02:23:26.060000 to 2020-08-03 23:59:57.741000
Validation set dates: 2020-08-04 00:00:00.923000 to 2020-08-19 23:59:59.609000
Test set dates: 2020-08-20 00:00:00.129000 to 2020-09-04 23:59:09.348000

In [30]:
# First join train_data with user features
joined_train_data = train_data.merge(
    cleaned_user_features,
    on='user_id',
    how='left'
)

# Then join with item daily features
joined_train_data = joined_train_data.merge(
    cleaned_item_daily_features,
    on='video_id',
    how='left'
)

# Finally join with caption category features
joined_train_data = joined_train_data.merge(
    cleaned_caption_category,
    on='video_id',
    how='left'
)

In [ ]:
import os
if not os.path.exists('data_exports'):
    os.makedirs('data_exports')

# Export all dataframes to CSV
joined_train_data.to_csv('data_exports/joined_train_data.csv', index=False)
train_data.to_csv('data_exports/train_data.csv', index=False)
val_data.to_csv('data_exports/val_data.csv', index=False)
test_data.to_csv('data_exports/test_data.csv', index=False)
cleaned_small_matrix.to_csv('data_exports/cleaned_small_matrix.csv', index=False)
cleaned_item_daily_features.to_csv('data_exports/cleaned_item_daily_features.csv', index=False)
cleaned_user_features.to_csv('data_exports/cleaned_user_features.csv', index=False)
cleaned_caption_category.to_csv('data_exports/cleaned_caption_category.csv', index=False)

print("All files have been exported successfully!")

In [ ]:
joined_train_data.shape

In [ ]:
val_data.shape

In [ ]:
test_data.shape