In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import ndcg_score

from collections import defaultdict

from tqdm import tqdm

In [142]:
root = '../KuaiRec 2.0/'

# joined_train_data = pd.read_csv(root + 'data_exports/joined_train_data.csv')

# Get predicted validation scores and actual validation scores
prediction_scores = pd.read_csv(root + 'results/w_clustering_batch_size512_num_epochs30_lr0.001_embedding_dim64_dropout0.3_decay0.01.csv')
# joined_val_data = pd.read_csv(root + 'data_exports/joined_val_data.csv')

# video_data = pd.read_csv(root + 'data/kuairec_caption_category_translated.csv', index_col=0)

## Get user watch history

We want to be able to filter out videos that the user has already watched. This is so that we recommend new videos instead.

In [3]:
def get_user_watch_history(data):
    """
    Args: 
        data: DataFrame of user watch history. Must contain columns 'user_id' and 'video_id'.
        
    Returns:
        A dictionary with user_id as key and a set of video_ids that the user has watched as value.
    """
    watch_history_dict = defaultdict(set)
    for user in data['user_id'].unique():
        watch_history_dict[user] = set(data[data['user_id'] == user]['video_id'])
    return watch_history_dict

In [4]:
user_watch_history = get_user_watch_history(joined_train_data)

## Getting ground truth videos for each user

In [5]:
def get_ground_truth(ground_truth_df, valid_users, valid_videos, user_watch_history):
    """
    Args:
        ground_truth_df: DataFrame with the ground truth watch ratios.
        videos_in_train_data: List of video_ids that are present in the training data.
        user_watch_history: Dictionary with user_id as key and a list of video_ids that the user has watched as value.
    
    Returns:
        DataFrame with the ground truth watch ratios. It only contains videos that are present in training data and that the user has not watched before.
        Users that are not in the training data are filtered out as well, as we cannot make recommendations for them.
        The dataframe is sorted by user in ascending order and watch_ratio in descending order.
    """
    ground_truth_new = pd.DataFrame(columns=['user_id', 'video_id', 'watch_ratio'])

    for user in ground_truth_df['user_id'].unique():
        if user not in valid_users:
            continue
        user_ground_truth = ground_truth_df[ground_truth_df['user_id'] == user].copy()
        user_ground_truth = user_ground_truth[~user_ground_truth['video_id'].isin(user_watch_history[user])]
        user_ground_truth = user_ground_truth[user_ground_truth['video_id'].isin(valid_videos)]

        ground_truth_new = pd.concat([ground_truth_new, user_ground_truth])

    # Sort by watch_ratio in descending order
    ground_truth_new = ground_truth_new.sort_values(by=['user_id', 'watch_ratio'], ascending=[True, False])
    return ground_truth_new

In [6]:
users_in_train_data = set(joined_train_data['user_id'])
videos_in_train_data = set(joined_train_data['video_id'])

ground_truth = get_ground_truth(joined_val_data[['user_id', 'video_id', 'watch_ratio']], users_in_train_data, videos_in_train_data, user_watch_history)

In [7]:
# Ground truth scores for user 14
ground_truth[ground_truth['user_id'] == 14]

    user_id video_id  watch_ratio
11       14     8766     3.318871
702      14     8799     3.185954
607      14     2735     2.598506
602      14     4201     2.478148
573      14     4015     2.319912
..      ...      ...          ...
131      14     7297     0.032396
991      14     4021     0.032293
180      14     4141     0.032250
61       14     7461     0.029277
243      14     8696     0.007218

[519 rows x 3 columns]

## Getting recommendations for each user

In [8]:
def get_user_recommendations(prediction_scores, user_watch_history):
    """
    Args:
        prediction_scores: DataFrame with the predicted watch_ratios.
        user_watch_history: Dictionary with user_id as key and a list of video_ids that the user has watched as value.
    
    Returns:
        DataFrame with the recommendations for a specific user. It only contains videos that the user has not watched before.
        The dataframe is sorted by user in ascending order and watch_ratio in descending order.
    """
    prediction_scores = prediction_scores.rename(columns={'watch_ratio': 'predicted_watch_ratio'})

    recommendations_new = pd.DataFrame(columns=['user_id', 'video_id', 'predicted_watch_ratio'])

    for user in prediction_scores['user_id'].unique():
        user_recommendations = prediction_scores[prediction_scores['user_id'] == user]
        user_recommendations = user_recommendations[~user_recommendations['video_id'].isin(user_watch_history[user])]
        
        recommendations_new = pd.concat([recommendations_new, user_recommendations])

    # Sort predicted_watch_ratio in descending order
    recommendations_new = recommendations_new.sort_values(by=['user_id', 'predicted_watch_ratio'], ascending=[True, False])
    return recommendations_new

In [143]:
# videos_in_val_data = set(joined_val_data['video_id'])

recommendations = get_user_recommendations(prediction_scores, user_watch_history)

In [144]:
# Recommendations for user 14
recommendations[recommendations['user_id'] == 14]

    user_id video_id  predicted_watch_ratio  cluster
444      14     8799           1.254961e+00      0.0
188      14     8814           1.218694e+00      0.0
359      14     5952           1.109251e+00      0.0
69       14    10095           1.067484e+00      0.0
13       14     8819           1.048624e+00      0.0
..      ...      ...                    ...      ...
197      14     3978           9.120815e-07      0.0
468      14     9908           7.757050e-07      0.0
114      14     2662           5.595499e-07      0.0
495      14     4021           3.743697e-07      0.0
153      14     9971           2.912636e-08      0.0

[513 rows x 4 columns]

In [11]:
def get_top_k_for_user(k, user_id, df):
    """
    Args:
        k: The number of recommendations to return.
        user_id: The user for which to get recommendations.
        df: DataFrame containing the scores for all users, sorted by score in descending order.
    
    Returns:
        DataFrame with the top k scores.
    """
    return df[df['user_id'] == user_id].head(k)

In [145]:
k = 50

# Get top 50 ground truth and recommendations for user 14
top_50_ground_truth_user_14 = get_top_k_for_user(k, 14, ground_truth)
top_50_recommendations_user_14 = get_top_k_for_user(k, 14, recommendations)

# top_50_ground_truth_user_14
top_50_recommendations_user_14

    user_id video_id  predicted_watch_ratio  cluster
444      14     8799               1.254961      0.0
188      14     8814               1.218694      0.0
359      14     5952               1.109251      0.0
69       14    10095               1.067484      0.0
13       14     8819               1.048624      0.0
141      14     7343               1.047345      0.0
272      14     7336               0.995488      0.0
374      14      996               0.990358      0.0
39       14     8834               0.988275      0.0
94       14     4282               0.952604      0.0
259      14     8662               0.939774      0.0
327      14     9980               0.928672      0.0
456      14     9992               0.927660      0.0
220      14     2687               0.927359      0.0
483      14     4205               0.923292      0.0
462      14     7420               0.919342      0.0
52       14     5792               0.914587      0.0
68       14     2588               0.901898      0.0
35       14     4289               0.899570      0.0
61       14     2629               0.882668      0.0
299      14     8777               0.882244      0.0
73       14     8626               0.874975      0.0
298      14     5794               0.867062      0.0
330      14     7397               0.864139      0.0
241      14     4336               0.862897      0.0
32       14     2660               0.854016      0.0
510      14     5706               0.847976      0.0
25       14     7358               0.844373      0.0
115      14     2638               0.837882      0.0
486      14      855               0.835431      0.0
236      14      819               0.822030      0.0
21       14     2593               0.820073      0.0
499      14     2510               0.818120      0.0
502      14     8748               0.816334      0.0
309      14      977               0.811962      0.0
15       14     2640               0.804029      0.0
263      14      887               0.797148      0.0
91       14    10006               0.796263      0.0
332      14    10092               0.792993      0.0
176      14     5957               0.792447      0.0
393      14     4015               0.791258      0.0
49       14      905               0.791185      0.0
56       14     2564               0.789230      0.0
356      14     2560               0.789070      0.0
95       14      541               0.785986      0.0
237      14     5901               0.772378      0.0
42       14      918               0.768102      0.0
242      14     5915               0.766780      0.0
229      14     4227               0.761142      0.0
291      14     7314               0.759765      0.0

## Evaluation Metrics

### Category-Aware NDCG@k

In [13]:
def get_category_tally_at_k(recommendations, video_info):
    """
    Args:
        recommendations: DataFrame with the top k recommendations for a specific user.
        video_info: DataFrame with information about the videos.

    Returns:
        Dictionary with the category as key and the number of videos in each category as value.
    """
    tally = defaultdict(int)

    for video_id in recommendations['video_id']:
        category = video_info.loc[str(video_id)]['english_first_level_category_name']
        tally[category] += 1
    
    return tally

def get_category_ndcg_at_k(recommendations, ground_truth, video_info):
    """
    Args:
        recommendations: DataFrame with the top k video recommendations for a specific user.
        ground_truth: DataFrame with the ground truth videos for a specific user.
        video_info: DataFrame with information about the videos.

    Returns:
        NDCG score for the categories of the top k recommendations.
    """
    cat_tally_reco = get_category_tally_at_k(recommendations, video_info)
    cat_tally_gt = get_category_tally_at_k(ground_truth, video_info)

    cat_tally_reco_adjusted = {}
    for category in cat_tally_gt:
        cat_tally_reco_adjusted[category] = cat_tally_reco.get(category, 0)

    return ndcg_score([list(cat_tally_gt.values())], [list(cat_tally_reco_adjusted.values())])

In [146]:
# Get the category-aware NDCG@50 for user 14
get_category_ndcg_at_k(top_50_recommendations_user_14, top_50_ground_truth_user_14, video_data)

0.8157117834834173

In [15]:
def get_average_ndcg_at_k(k, ground_truth, recommendations, video_info, by_cluster):
    """
    Args:
        k: The number of recommendations to return.
        ground_truth: DataFrame with the ground truth watch ratios, sorted by descending watch_ratio.
        recommendations: DataFrame with all video recommendations, sorted by descending predicted_watch_ratio.
        video_info: DataFrame with information about the videos.
        by_cluster: Boolean indicating whether to calculate the average ndcg@k per cluster.

    Returns:
        The average category-aware NDCG@k for all users, and a dictionary with the NDCG@k per cluster.
    """
    all_ndcg_scores = []

    if by_cluster:
        cluster_scores = {}
        ground_truth_users = set(ground_truth['user_id'].unique())
        
        for cluster in sorted(recommendations['cluster'].unique()):
            cluster_recommendations = recommendations[recommendations['cluster'] == cluster]
            users_in_cluster = set(cluster_recommendations['user_id'].unique())
            
            # Filter users in both ground truth and the current cluster's recommendations
            valid_users = ground_truth_users.intersection(users_in_cluster)
            cluster_ndcg_scores = []

            for user_id in tqdm(valid_users):
                user_recommendations_top_k = get_top_k_for_user(k, user_id, cluster_recommendations)
                user_ground_truth_top_k = get_top_k_for_user(k, user_id, ground_truth)

                user_ndcg_score = get_category_ndcg_at_k(user_recommendations_top_k, user_ground_truth_top_k, video_info)

                cluster_ndcg_scores.append(user_ndcg_score)
                all_ndcg_scores.append(user_ndcg_score)

            # Store the mean NDCG score per cluster
            cluster_scores[cluster] = np.mean(cluster_ndcg_scores) if cluster_ndcg_scores else 0

    else:
        for user_id in tqdm(ground_truth['user_id'].unique()):
            user_recommendations_top_k = get_top_k_for_user(k, user_id, recommendations)
            user_ground_truth_top_k = get_top_k_for_user(k, user_id, ground_truth)

            user_ndcg_score = get_category_ndcg_at_k(user_recommendations_top_k, user_ground_truth_top_k, video_info)

            all_ndcg_scores.append(user_ndcg_score)
        cluster_scores = None

    return np.mean(all_ndcg_scores), cluster_scores

### Distinct Categories @ k

In [16]:
def get_user_distinct_categories_at_k(k, user_id, recommendations):
    """
    Args:
        k: The number of recommendations to return.
        user_id: The user for which to get recommendations.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        
    Returns:
        The number of distinct categories in the top k recommendations.
    """
    top_k = get_top_k_for_user(k, user_id, recommendations)
    categories = set()

    for video_id in top_k['video_id']:
        category = video_data.loc[str(video_id)]['english_first_level_category_name']
        categories.add(category)
    
    return len(categories)

In [147]:
# Get Distinct Categories @ 50 for user 14
get_user_distinct_categories_at_k(50, 14, recommendations)

21

In [18]:
def get_average_distinct_categories_at_k(k, recommendations, by_cluster):
    """
    Args:
        k: The number of recommendations to return.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        by_cluster: Boolean indicating whether to calculate the average distinct categories per cluster.
    
    Returns:
        The overall average number of distinct categories in the top k recommendations, 
        and a dictionary with the average number of distinct categories per cluster (if by_cluster is True).
    """
    all_distinct_categories = []

    if by_cluster:
        cluster_distinct_categories = {}
        users_in_val = set(joined_val_data['user_id'])

        for cluster in sorted(recommendations['cluster'].unique()):
            cluster_distinct_categories_list = []
            
            # Get users in the current cluster
            users_in_cluster = set(recommendations[recommendations['cluster'] == cluster]['user_id'])
            valid_users = users_in_val.intersection(users_in_cluster)

            for user_id in tqdm(valid_users):
                user_distinct_categories = get_user_distinct_categories_at_k(k, user_id, recommendations)
                cluster_distinct_categories_list.append(user_distinct_categories)
                all_distinct_categories.append(user_distinct_categories)

            cluster_distinct_categories[cluster] = np.mean(cluster_distinct_categories_list) if cluster_distinct_categories_list else 0
    else:
        for user_id in tqdm(recommendations['user_id'].unique()):
            user_distinct_categories = get_user_distinct_categories_at_k(k, user_id, recommendations)
            all_distinct_categories.append(user_distinct_categories)
        cluster_distinct_categories = None

    return np.mean(all_distinct_categories), cluster_distinct_categories

### Average watch ratio @ k

In [19]:
def get_user_avg_watch_ratio_at_k(k, user_id, recommendations, watch_ratio_column):
    """
    Args:
        k: The number of recommendations to return.
        user_id: The user for which to get recommendations.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        
    Returns:
        The average watch_ratio in the top k recommendations.
    """
    top_k = get_top_k_for_user(k, user_id, recommendations)
    return np.mean(top_k[watch_ratio_column])

In [148]:
# Get avg watch ratio @ 50 for user 14
get_user_avg_watch_ratio_at_k(50, 14, recommendations, 'predicted_watch_ratio')

0.8851038762000001

In [21]:
def get_avg_watch_ratio_at_k(k, recommendations, by_cluster):
    """
    Args:
        k: The number of recommendations to return.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        by_cluster: Boolean indicating whether to calculate the average watch_ratio per cluster.
        
    Returns:
        The overall average watch_ratio in the top k ground truth videos, a dictionary with the average watch_ratio per cluster,
        the overall average predicted_watch_ratio in the top k recommendations, and a dictionary with the average predicted_watch_ratio per cluster (if by_cluster is True).
    """
    all_avg_watch_ratios_list = []
    all_avg_predicted_watch_ratios_list = []
    
    if by_cluster:
        cluster_avg_watch_ratios = {}
        cluster_avg_predicted_watch_ratios = {}
        users_in_val = set(joined_val_data['user_id'])

        for cluster in sorted(recommendations['cluster'].unique()):
            cluster_avg_watch_ratios_list = []
            cluster_avg_predicted_watch_ratios_list = []

            # Get users in the current cluster and intersect with validation users
            users_in_cluster = set(recommendations[recommendations['cluster'] == cluster]['user_id'])
            valid_users = users_in_val.intersection(users_in_cluster)

            for user_id in tqdm(valid_users):
                user_avg_watch_ratio = get_user_avg_watch_ratio_at_k(k, user_id, joined_val_data, 'watch_ratio')
                user_avg_predicted_watch_ratio = get_user_avg_watch_ratio_at_k(k, user_id, recommendations, 'predicted_watch_ratio')

                cluster_avg_watch_ratios_list.append(user_avg_watch_ratio)
                cluster_avg_predicted_watch_ratios_list.append(user_avg_predicted_watch_ratio)
                
                all_avg_watch_ratios_list.append(user_avg_watch_ratio)
                all_avg_predicted_watch_ratios_list.append(user_avg_predicted_watch_ratio)
            
            # Calculate and store cluster-specific averages
            cluster_avg_watch_ratios[cluster] = np.mean(cluster_avg_watch_ratios_list) if cluster_avg_watch_ratios_list else 0
            cluster_avg_predicted_watch_ratios[cluster] = np.mean(cluster_avg_predicted_watch_ratios_list) if cluster_avg_predicted_watch_ratios_list else 0
    else:
        # Process all users without clustering
        for user_id in tqdm(recommendations['user_id'].unique()):
            user_avg_watch_ratio = get_user_avg_watch_ratio_at_k(k, user_id, joined_val_data, 'watch_ratio')
            user_avg_predicted_watch_ratio = get_user_avg_watch_ratio_at_k(k, user_id, recommendations, 'predicted_watch_ratio')

            all_avg_watch_ratios_list.append(user_avg_watch_ratio)
            all_avg_predicted_watch_ratios_list.append(user_avg_predicted_watch_ratio)

        cluster_avg_watch_ratios = None
        cluster_avg_predicted_watch_ratios = None
    
    # Return overall averages and cluster-specific dictionaries if `by_cluster` is True
    return (
        np.mean(all_avg_watch_ratios_list),
        cluster_avg_watch_ratios,
        np.mean(all_avg_predicted_watch_ratios_list),
        cluster_avg_predicted_watch_ratios
    )

### Precision@k, Recall@k, F1Score@k

In [ ]:
# def get_user_precision_recall_f1_at_k(k, user_id, recommendations, ground_truth, threshold):
#     """
#     Args:
#         k: The number of recommendations to return.
#         user_id: The user for which to get recommendations.
#         recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
#         ground_truth: DataFrame with the ground truth watch ratios.
#         threshold: The threshold for the watch ratio.
    
#     Returns:
#         Precision, recall, and F1 score at k for a specific user.
#     """
#     top_k_recommendations = get_top_k_for_user(k, user_id, recommendations)
#     top_k_ground_truth = get_top_k_for_user(k, user_id, ground_truth)

#     tp = 0
#     fp = 0
#     fn = 0

#     for video_id in top_k_recommendations['video_id']:
#         if video_id in top_k_ground_truth['video_id'].values:
#             if top_k_ground_truth[top_k_ground_truth['video_id'] == video_id]['watch_ratio'].values[0] >= threshold:
#                 # If the video is in top_k_ground_truth and watch ratio is above the threshold, it is a true positive
#                 tp += 1
#             else:
#                 # If the video is in top_k_ground_truth but watch ratio is below the threshold, it is a false positive
#                 fp += 1
#         else:
#             # If video is not in top_k_ground_truth, it is a false positive
#             fp += 1

#     for video_id in top_k_ground_truth['video_id']:
#         if video_id not in top_k_recommendations['video_id'].values:
#             if top_k_ground_truth[top_k_ground_truth['video_id'] == video_id]['watch_ratio'].values[0] >= threshold:
#                 # If the video is in top_k_ground_truth but not in top_k_recommendations, it is a false negative
#                 fn += 1

#     precision = tp / (tp + fp) if tp + fp > 0 else 0
#     recall = tp / (tp + fn) if tp + fn > 0 else 0
#     f1 = 2 * (precision * recall) / (precision + recall) if precision + recall > 0 else 0
#     print(f'True Positives: {tp}, False Positives: {fp}, False Negatives: {fn}')
#     return precision, recall, f1

In [181]:
def get_user_precision_recall_f1_at_k(k, user_id, recommendations_with_actual_scores, threshold):
    """
    Args:
        k: The number of recommendations to return.
        user_id: The user for which to get recommendations.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        ground_truth: DataFrame with the ground truth watch ratios.
        threshold: The threshold for the watch ratio.
    
    Returns:
        Precision, recall, and F1 score at k for a specific user.
    """

    # Get top k recommendations for the user 
    top_k_recommendations = get_top_k_for_user(k, user_id, recommendations_with_actual_scores)
     
    # Get number of relevant videos in recommendations
    is_relevant_predicted = top_k_recommendations['predicted_watch_ratio'] >= threshold
    is_relevant_actual = top_k_recommendations['watch_ratio'] >= threshold

    tp = 0
    fp = 0
    fn = 0
    for i in range(len(top_k_recommendations)):
        # if is_relevant_predicted[i]:
        if is_relevant_predicted.iloc[i]:
            if is_relevant_actual.iloc[i]:
                tp += 1
            else:
                fp += 1
        else:
            if is_relevant_actual.iloc[i]:
                fn += 1

    # Calculate Precision, Recall, F1
    precision = tp / (tp + fp) if tp + fp > 0 else 0
    recall = tp / (tp + fn) if tp + fn > 0 else 0
    f1 = 2 * (precision * recall) / (precision + recall) if precision + recall > 0 else 0

    # print(f'True Positives: {tp}, False Positives: {fp}, False Negatives: {fn}')
     
    return precision, recall, f1

In [162]:
recommendations_with_actual_scores = recommendations.merge(joined_val_data[['user_id', 'video_id', 'watch_ratio']], on=['user_id', 'video_id'])

get_top_k_for_user(50, 14, recommendations_with_actual_scores)

   user_id video_id  predicted_watch_ratio  cluster  watch_ratio
0       14     8799               1.254961      0.0     3.185954
1       14     8814               1.218694      0.0     1.251556
2       14     5952               1.109251      0.0     1.397620
3       14    10095               1.067484      0.0     1.443898
4       14     8819               1.048624      0.0     1.409508
5       14     7343               1.047345      0.0     1.206901
6       14     7336               0.995488      0.0     0.563166
7       14      996               0.990358      0.0     0.690826
8       14     8834               0.988275      0.0     0.738996
9       14     4282               0.952604      0.0     1.634527
10      14     8662               0.939774      0.0     1.224191
11      14     9980               0.928672      0.0     1.149733
12      14     9992               0.927660      0.0     0.845784
13      14     2687               0.927359      0.0     2.026842
14      14     4205               0.923292      0.0     1.275373
15      14     7420               0.919342      0.0     1.371059
16      14     5792               0.914587      0.0     1.073551
17      14     2588               0.901898      0.0     1.631810
18      14     4289               0.899570      0.0     1.901216
19      14     2629               0.882668      0.0     0.847162
20      14     8777               0.882244      0.0     1.703800
21      14     8626               0.874975      0.0     0.438181
22      14     5794               0.867062      0.0     1.186008
23      14     7397               0.864139      0.0     0.706727
24      14     4336               0.862897      0.0     1.737423
25      14     2660               0.854016      0.0     0.245673
26      14     5706               0.847976      0.0     0.749446
27      14     7358               0.844373      0.0     0.701212
28      14     2638               0.837882      0.0     1.481035
29      14      855               0.835431      0.0     0.473645
30      14      819               0.822030      0.0     1.710554
31      14     2593               0.820073      0.0     1.251179
32      14     2510               0.818120      0.0     0.493030
33      14     8748               0.816334      0.0     1.259263
34      14      977               0.811962      0.0     1.220371
35      14     2640               0.804029      0.0     1.694090
36      14      887               0.797148      0.0     0.570776
37      14    10006               0.796263      0.0     0.685616
38      14    10092               0.792993      0.0     0.992399
39      14     5957               0.792447      0.0     0.906842
40      14     4015               0.791258      0.0     2.319912
41      14      905               0.791185      0.0     0.783048
42      14     2564               0.789230      0.0     1.915147
43      14     2560               0.789070      0.0     0.572864
44      14      541               0.785986      0.0     1.117087
45      14     5901               0.772378      0.0     1.511260
46      14      918               0.768102      0.0     0.723916
47      14     5915               0.766780      0.0     1.399039
48      14     4227               0.761142      0.0     1.373607
49      14     7314               0.759765      0.0     1.321118

In [184]:
val_data_users = set(joined_val_data['user_id'])
val_data_users

{14,
 19,
 21,
 23,
 24,
 36,
 37,
 41,
 51,
 55,
 64,
 73,
 75,
 97,
 98,
 102,
 120,
 127,
 129,
 131,
 135,
 136,
 137,
 140,
 155,
 157,
 165,
 166,
 169,
 172,
 174,
 176,
 185,
 193,
 203,
 221,
 223,
 224,
 226,
 229,
 234,
 235,
 240,
 241,
 242,
 249,
 261,
 262,
 276,
 279,
 294,
 297,
 298,
 320,
 322,
 323,
 328,
 332,
 335,
 346,
 352,
 357,
 364,
 366,
 368,
 370,
 373,
 385,
 386,
 396,
 407,
 412,
 434,
 438,
 442,
 452,
 458,
 472,
 475,
 477,
 488,
 493,
 506,
 509,
 522,
 531,
 534,
 536,
 537,
 538,
 543,
 545,
 547,
 555,
 558,
 565,
 570,
 572,
 578,
 579,
 582,
 597,
 598,
 602,
 612,
 617,
 623,
 626,
 632,
 634,
 638,
 639,
 642,
 655,
 659,
 663,
 682,
 683,
 699,
 709,
 723,
 724,
 726,
 728,
 735,
 757,
 763,
 764,
 765,
 767,
 771,
 781,
 785,
 791,
 795,
 798,
 800,
 808,
 814,
 815,
 827,
 833,
 838,
 839,
 840,
 843,
 845,
 846,
 847,
 849,
 857,
 860,
 865,
 867,
 877,
 885,
 890,
 891,
 893,
 896,
 901,
 909,
 925,
 928,
 932,
 942,
 944,
 946,
 951,
 961,
 963,
 970,
 971,
 976,
 977,
 979,
 981,
 986,
 1001,
 1005,
 1009,
 1010,
 1013,
 1015,
 1022,
 1029,
 1030,
 1033,
 1041,
 1042,
 1043,
 1045,
 1050,
 1054,
 1073,
 1084,
 1091,
 1093,
 1094,
 1104,
 1105,
 1109,
 1110,
 1112,
 1117,
 1119,
 1120,
 1124,
 1127,
 1128,
 1130,
 1132,
 1135,
 1142,
 1143,
 1144,
 1160,
 1161,
 1164,
 1170,
 1175,
 1178,
 1183,
 1187,
 1195,
 1196,
 1199,
 1209,
 1210,
 1221,
 1223,
 1226,
 1234,
 1245,
 1257,
 1261,
 1262,
 1266,
 1267,
 1277,
 1278,
 1281,
 1282,
 1301,
 1308,
 1314,
 1316,
 1318,
 1319,
 1354,
 1367,
 1375,
 1380,
 1385,
 1386,
 1387,
 1401,
 1409,
 1413,
 1431,
 1434,
 1438,
 1442,
 1443,
 1446,
 1449,
 1450,
 1457,
 1458,
 1459,
 1461,
 1464,
 1481,
 1484,
 1485,
 1490,
 1494,
 1498,
 1500,
 1509,
 1514,
 1516,
 1520,
 1534,
 1538,
 1547,
 1554,
 1556,
 1560,
 1561,
 1567,
 1584,
 1587,
 1590,
 1597,
 1600,
 1603,
 1615,
 1623,
 1626,
 1635,
 1636,
 1641,
 1643,
 1647,
 1653,
 1656,
 1660,
 1662,
 1665,
 1668,
 1678,
 1683,
 1684,
 1685,
 1687,
 1691,
 1693,
 1696,
 1698,
 1704,
 1710,
 1712,
 1715,
 1718,
 1720,
 1722,
 1725,
 1731,
 1737,
 1747,
 1755,
 1758,
 1760,
 1761,
 1764,
 1769,
 1771,
 1772,
 1773,
 1774,
 1780,
 1792,
 1795,
 1796,
 1800,
 1802,
 1812,
 1815,
 1817,
 1823,
 1828,
 1834,
 1836,
 1837,
 1848,
 1853,
 1854,
 1857,
 1865,
 1876,
 1884,
 1885,
 1886,
 1887,
 1898,
 1899,
 1911,
 1914,
 1919,
 1927,
 1928,
 1944,
 1952,
 1968,
 1969,
 1977,
 1981,
 1983,
 1984,
 1986,
 1993,
 1998,
 2005,
 2007,
 2009,
 2017,
 2018,
 2024,
 2025,
 2029,
 2043,
 2047,
 2057,
 2059,
 2060,
 2061,
 2063,
 2089,
 2094,
 2096,
 2100,
 2105,
 2106,
 2108,
 2114,
 2118,
 2121,
 2123,
 2131,
 2133,
 2138,
 2139,
 2141,
 2143,
 2146,
 2152,
 2158,
 2164,
 2166,
 2167,
 2177,
 2181,
 2186,
 2197,
 2201,
 2205,
 2206,
 2212,
 2220,
 2224,
 2225,
 2227,
 2232,
 2245,
 2246,
 2255,
 2258,
 2259,
 2269,
 2272,
 2284,
 2287,
 2295,
 2301,
 2314,
 2317,
 2318,
 2319,
 2324,
 2326,
 2339,
 2349,
 2352,
 2355,
 2358,
 2366,
 2367,
 2368,
 2370,
 2372,
 2392,
 2397,
 2401,
 2407,
 2410,
 2414,
 2422,
 2429,
 2431,
 2438,
 2439,
 2440,
 2444,
 2449,
 2451,
 2461,
 2463,
 2468,
 2470,
 2484,
 2486,
 2490,
 2496,
 2501,
 2506,
 2511,
 2513,
 2521,
 2525,
 2526,
 2528,
 2530,
 2538,
 2541,
 2542,
 2549,
 2564,
 2568,
 2569,
 2570,
 2572,
 2585,
 2592,
 2594,
 2605,
 2611,
 2619,
 2624,
 2625,
 2626,
 2627,
 2629,
 2631,
 2634,
 2638,
 2641,
 2645,
 2646,
 2650,
 2653,
 2656,
 2671,
 2672,
 2676,
 2683,
 2685,
 2686,
 2687,
 2696,
 2697,
 2699,
 2703,
 2712,
 2718,
 2722,
 2724,
 2725,
 2727,
 2731,
 2737,
 2740,
 2744,
 2751,
 2765,
 2772,
 2773,
 2775,
 2778,
 2784,
 2787,
 2795,
 2796,
 2798,
 2810,
 2811,
 2812,
 2816,
 2817,
 2837,
 2839,
 2845,
 2846,
 2859,
 2869,
 2870,
 2875,
 2881,
 2883,
 2884,
 2889,
 2890,
 2901,
 2905,
 2909,
 2918,
 2920,
 2923,
 2929,
 2946,
 2950,
 2952,
 2958,
 2965,
 2969,
 2977,
 2978,
 2985,
 2993,
 2996,
 3001,
 3013,
 3018,
 3019,
 3039,
 3042,
 3065,
 3069,
 3070,
 3083,
 3100,
 3101,
 3121,
 3124,
 3131,
 3132,
 3144,
 3155,
 3160,
 3161,
 3169,
 3170,
 3171,
 3175,
 3181,
 3195,
 3201,
 3206,
 3211,
 3218,
 3221,
 3223,
 3233,
 3239,
 3246,
 3252,
 3254,
 3261,
 3262,
 3273,
 3291,
 3293,
 3301,
 3320,
 3322,
 3326,
 3330,
 3332,
 3335,
 3336,
 3339,
 3340,
 3341,
 3359,
 3365,
 3385,
 3397,
 3399,
 3404,
 3406,
 3411,
 3414,
 3423,
 3434,
 3441,
 3447,
 3448,
 3458,
 3459,
 3462,
 3464,
 3465,
 3466,
 3471,
 3480,
 3481,
 3484,
 3490,
 3491,
 3504,
 3505,
 3506,
 3514,
 3515,
 3517,
 3518,
 3520,
 3529,
 3539,
 3544,
 3559,
 3560,
 3565,
 3569,
 3581,
 3593,
 3598,
 3601,
 3610,
 3615,
 3620,
 3623,
 3624,
 3625,
 3626,
 3628,
 3631,
 3634,
 3636,
 3657,
 3659,
 3660,
 3669,
 3675,
 3678,
 3687,
 3688,
 3689,
 3691,
 3693,
 3706,
 3708,
 3723,
 3725,
 3735,
 3737,
 3742,
 3747,
 3758,
 3760,
 3764,
 3765,
 3779,
 3789,
 3806,
 3808,
 3817,
 3821,
 3825,
 3827,
 3828,
 3837,
 3842,
 3847,
 3850,
 3853,
 3862,
 3866,
 3868,
 3875,
 3877,
 3885,
 3895,
 3898,
 3902,
 3903,
 3905,
 3909,
 3913,
 3918,
 3921,
 3925,
 3926,
 3931,
 3935,
 3944,
 3948,
 3949,
 3964,
 3965,
 3970,
 3979,
 3980,
 3983,
 3984,
 3985,
 3987,
 3989,
 3990,
 3992,
 3993,
 4005,
 4008,
 4012,
 4013,
 4018,
 4020,
 4026,
 4037,
 4053,
 4056,
 4067,
 4088,
 4106,
 4116,
 4121,
 4131,
 4137,
 4140,
 4143,
 4149,
 4151,
 4161,
 4162,
 4169,
 4182,
 4186,
 4187,
 4188,
 4193,
 4197,
 4205,
 4213,
 4226,
 4239,
 4240,
 4243,
 4258,
 4270,
 4275,
 4279,
 4280,
 4286,
 4296,
 4297,
 4300,
 4305,
 4306,
 4307,
 4308,
 4310,
 4313,
 4315,
 4317,
 4319,
 4321,
 4329,
 4343,
 4344,
 4349,
 4352,
 4356,
 4378,
 4386,
 4394,
 4396,
 4402,
 4404,
 4405,
 4414,
 4419,
 4422,
 4423,
 4427,
 4428,
 4429,
 4431,
 4438,
 4439,
 4441,
 4442,
 4445,
 4446,
 4451,
 4456,
 4461,
 4470,
 4475,
 4479,
 4481,
 4494,
 4498,
 4499,
 4500,
 4505,
 4506,
 4517,
 4527,
 4528,
 4529,
 4531,
 4533,
 4546,
 4557,
 4565,
 4587,
 4608,
 4614,
 4615,
 4622,
 4630,
 4632,
 4642,
 4643,
 4647,
 4650,
 4653,
 4654,
 4659,
 4660,
 4668,
 4671,
 4672,
 4673,
 4674,
 4676,
 4678,
 4681,
 4683,
 4689,
 4690,
 4694,
 4715,
 4719,
 4721,
 4722,
 4723,
 4733,
 4737,
 4738,
 4741,
 4743,
 4752,
 4754,
 4756,
 4757,
 4764,
 4766,
 4772,
 4778,
 4780,
 4781,
 4784,
 4801,
 4803,
 4805,
 4812,
 4817,
 4819,
 4820,
 4821,
 4836,
 4839,
 4850,
 4855,
 4862,
 4865,
 4868,
 4869,
 4872,
 4876,
 4877,
 4882,
 4885,
 4886,
 4887,
 4891,
 4896,
 4904,
 4908,
 4910,
 4914,
 4919,
 4924,
 4930,
 4933,
 4937,
 4945,
 4950,
 4953,
 4955,
 4957,
 4962,
 4965,
 4969,
 4971,
 4973,
 4975,
 4978,
 4979,
 4984,
 4986,
 4987,
 4994,
 5000,
 5007,
 5008,
 5016,
 5019,
 5020,
 5025,
 5026,
 5029,
 5033,
 5034,
 5044,
 5047,
 5053,
 5055,
 5061,
 5062,
 5066,
 5068,
 5070,
 5071,
 5075,
 5079,
 5083,
 5085,
 5096,
 ...}

In [189]:
# Precision, recall, and F1 @ 50 for user 14
precision, recall, f1 = get_user_precision_recall_f1_at_k(100, 55, recommendations_with_actual_scores, 0.8)
precision, recall, f1

# no false negatives because all our recommendations are above the threshold -> relevant

(0.625, 0.15625, 0.25)

In [179]:
def get_precision_recall_f1_at_k(k, recommendations_with_actual_scores, threshold, by_cluster=True):
    """
    Args:
        k: The number of recommendations to return.
        recommendations: DataFrame containing the scores for all users, sorted by score in descending order.
        ground_truth: DataFrame with the ground truth watch ratios.
        threshold: The threshold for the watch ratio.
        by_cluster: Boolean indicating whether to calculate the precision, recall, and F1 score per cluster.
    
    Returns:
        The overall average precision, recall, and F1 score at k, and a dictionary with the average precision, recall, and F1 score per cluster if by_cluster is True.
    """
    all_precision_list = []
    all_recall_list = []
    all_f1_list = []

    if by_cluster:
        cluster_precision = {}
        cluster_recall = {}
        cluster_f1 = {}
        users_in_val = set(ground_truth['user_id'])

        for cluster in sorted(recommendations['cluster'].unique()):
            cluster_precision_list = []
            cluster_recall_list = []
            cluster_f1_list = []

            # Get users in the current cluster and intersect with validation users
            users_in_cluster = set(recommendations[recommendations['cluster'] == cluster]['user_id'])
            valid_users = users_in_val.intersection(users_in_cluster)

            for user_id in tqdm(valid_users):
                user_precision, user_recall, user_f1 = get_user_precision_recall_f1_at_k(
                    k, user_id, recommendations_with_actual_scores, threshold
                )

                cluster_precision_list.append(user_precision)
                cluster_recall_list.append(user_recall)
                cluster_f1_list.append(user_f1)

                all_precision_list.append(user_precision)
                all_recall_list.append(user_recall)
                all_f1_list.append(user_f1)
            
            # Calculate cluster-specific averages
            cluster_precision[cluster] = np.mean(cluster_precision_list) if cluster_precision_list else 0
            cluster_recall[cluster] = np.mean(cluster_recall_list) if cluster_recall_list else 0
            cluster_f1[cluster] = np.mean(cluster_f1_list) if cluster_f1_list else 0
    else:
        for user_id in tqdm(ground_truth['user_id'].unique()):
            user_precision, user_recall, user_f1 = get_user_precision_recall_f1_at_k(
                k, user_id, recommendations_with_actual_scores, threshold
            )

            all_precision_list.append(user_precision)
            all_recall_list.append(user_recall)
            all_f1_list.append(user_f1)

        cluster_precision = None
        cluster_recall = None
        cluster_f1 = None
    
    return (
        np.mean(all_precision_list),
        np.mean(all_recall_list),
        np.mean(all_f1_list),
        cluster_precision,
        cluster_recall,
        cluster_f1
    )

In [187]:
avg_precision, avg_recall, avg_f1, cluster_precision, cluster_recall, cluster_f1 =  get_precision_recall_f1_at_k(100, recommendations_with_actual_scores, 0.7, by_cluster=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 269/269 [00:07<00:00, 35.38it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 419/419 [00:11<00:00, 35.16it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 345/345 [00:09<00:00, 35.63it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 378/378 [00:11<00:00, 33.07it/s]

In [188]:
# Put into dataframe
cluster_precision_df = pd.DataFrame(cluster_precision.items(), columns=['cluster', 'precision'])
cluster_recall_df = pd.DataFrame(cluster_recall.items(), columns=['cluster', 'recall'])
cluster_f1_df = pd.DataFrame(cluster_f1.items(), columns=['cluster', 'f1'])

cluster_comparison = cluster_precision_df.merge(cluster_recall_df, on='cluster').merge(cluster_f1_df, on='cluster')

# Add overall averages
cluster_comparison = cluster_comparison.append({'cluster': 'Overall', 'precision': avg_precision, 'recall': avg_recall, 'f1': avg_f1}, ignore_index=True)

cluster_comparison

C:\Users\chong\AppData\Local\Temp\ipykernel_47792\2253420727.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cluster_comparison = cluster_comparison.append({'cluster': 'Overall', 'precision': avg_precision, 'recall': avg_recall, 'f1': avg_f1}, ignore_index=True)

   cluster  precision    recall        f1
0      0.0   0.558818  0.188950  0.216912
1      1.0   0.650688  0.112526  0.165930
2      2.0   0.615409  0.171563  0.224187
3      3.0   0.645451  0.146906  0.182074
4  Overall   0.623144  0.150741  0.194218

## Calculation of Evaluation Metrics

In [159]:
def get_all_metrics(k1, k2, ground_truth, recommendations, video_info, threshold, by_cluster):
    """
    Args:
        k1: The number of recommendations to return for NDCG@k, distinct categories, and avg watch ratio.
        k2: The number of recommendations to return for precision, recall, and F1 score.
        ground_truth: DataFrame with the ground truth watch ratios, sorted by descending watch_ratio.
        recommendations: DataFrame with all video recommendations, sorted by descending predicted_watch_ratio.
        video_info: DataFrame with information about the videos.
        threshold: The threshold for the watch ratio to calculate binary labels.
        by_cluster: Boolean indicating whether to calculate the metrics per cluster.

    Returns:
        Dataframe of all evaluation metrics.
    """
    overall_ndcg, cluster_ndcg = get_average_ndcg_at_k(k1, ground_truth, recommendations, video_info, by_cluster)
    overall_distinct_categories, cluster_distinct_categories = get_average_distinct_categories_at_k(k1, recommendations, by_cluster)
    overall_avg_watch_ratio, cluster_avg_watch_ratio, overall_avg_predicted_watch_ratio, cluster_avg_predicted_watch_ratio = get_avg_watch_ratio_at_k(k1, recommendations, by_cluster)
    avg_precision, avg_recall, avg_f1, cluster_precision, cluster_recall, cluster_f1 = get_precision_recall_f1_at_k(k2, recommendations, ground_truth, threshold, by_cluster)

    metrics_df = pd.DataFrame(columns=['cluster', f'NDCG@{k1}', f'Distinct Categories @ {k1}', f'Avg Watch Ratio @ {k1}', f'Avg Predicted Watch Ratio @ {k1}', 
                                       f'Avg Precision@{k2}', f'Avg Recall@{k2}', f'Avg F1@{k2}'])
    if by_cluster:
        for cluster in recommendations['cluster'].unique():
            metrics_df = pd.concat([
                metrics_df,
                pd.DataFrame({
                    'cluster': cluster,
                    f'NDCG@{k1}': cluster_ndcg[cluster],
                    f'Distinct Categories @ {k1}': cluster_distinct_categories[cluster],
                    f'Avg Watch Ratio @ {k1}': cluster_avg_watch_ratio[cluster],
                    f'Avg Predicted Watch Ratio @ {k1}': cluster_avg_predicted_watch_ratio[cluster],
                    f'Avg Precision@{k2}': cluster_precision[cluster],
                    f'Avg Recall@{k2}': cluster_recall[cluster],
                    f'Avg F1@{k2}': cluster_f1[cluster]
                }, index=[0])
            ])
    metrics_df['cluster'] = metrics_df['cluster'].astype(int)
    metrics_df = metrics_df.sort_values(by='cluster')
    
    metrics_df = pd.concat([
        metrics_df,
        pd.DataFrame({
            'cluster': 'Overall',
            f'NDCG@{k1}': overall_ndcg,
            f'Distinct Categories @ {k1}': overall_distinct_categories,
            f'Avg Watch Ratio @ {k1}': overall_avg_watch_ratio,
            f'Avg Predicted Watch Ratio @ {k1}': overall_avg_predicted_watch_ratio,
            f'Avg Precision@{k2}': avg_precision,
            f'Avg Recall@{k2}': avg_recall,
            f'Avg F1@{k2}': avg_f1
        }, index=[0])
    ])

    return metrics_df

### With Segmentation

In [28]:
import itertools

In [ ]:
k1 = 50
k2 = 50
threshold = 0.8

In [157]:
metrics_df = get_all_metrics(k1, k2, ground_truth, recommendations, video_data, threshold, by_cluster=True)

NameError: name 'get_all_metrics' is not defined

In [31]:
metrics_df

,cluster,NDCG@50,Distinct Categories @ 50,Avg Watch Ratio @ 50,Avg Predicted Watch Ratio @ 50,Avg Precision@500,Avg Recall@500,Avg F1@500
0,0,0.888035,20.431227,0.851770,0.964339,0.425040,0.921066,0.571381
0,1,0.900216,22.594272,0.843245,0.962078,0.463439,0.920827,0.608127
0,2,0.886396,21.359420,0.827713,1.026723,0.431132,0.929328,0.580943
0,3,0.906808,21.711640,0.843225,0.957878,0.444880,0.943618,0.596111
0,Overall,0.896281,21.643515,0.841067,0.977190,0.443247,0.929057,0.591256

In [37]:
# Put into dataframe
precision_recall_f1_df = pd.DataFrame(columns=['cluster', 'Precision', 'Recall', 'F1'])
for cluster in recommendations['cluster'].unique():
    precision_recall_f1_df = pd.concat([
        precision_recall_f1_df,
        pd.DataFrame({
            'cluster': cluster,
            'Precision': cluster_precision[cluster],
            'Recall': cluster_recall[cluster],
            'F1': cluster_f1[cluster]
        }, index=[0])
    ])

precision_recall_f1_df = pd.concat([
    precision_recall_f1_df,
    pd.DataFrame({
        'cluster': 'Overall',
        'Precision': avg_precision,
        'Recall': avg_recall,
        'F1': avg_f1
    }, index=[0])
])

precision_recall_f1_df

   cluster  Precision    Recall        F1
0      0.0   0.133234  0.133234  0.133234
0      2.0   0.177333  0.177333  0.177333
0      1.0   0.185919  0.185919  0.185919
0      3.0   0.202804  0.202804  0.202804
0  Overall   0.178299  0.178299  0.178299

### Without Segmentation

In [ ]:
files = ['batch_size512_num_epochs10_lr0.001_embedding_dim64_dropout0.3_decay0.01']

metrics_dict_unsegmented = {}

for file in files:
    prediction_scores = pd.read_csv(root + f'results/wo_clustering_{file}.csv')

    recommendations = get_user_recommendations(prediction_scores, videos_in_val_data, user_watch_history)

    metrics_df = get_all_metrics(k1, k2, ground_truth, recommendations, video_data, threshold, by_cluster=False)
    
    print(metrics_df)
    metrics_df.to_csv(root + f'results/metrics_wo_clustering_{file}.csv', index=False)

    metrics_dict_unsegmented[param_str] = metrics_df

Getting metrics for model with hyperparameters: {'batch_size': 128, 'num_epochs': 10, 'lr': 0.001, 'embedding_dim': 64, 'dropout': 0.3, 'alpha': 0.01, 'beta': 0.05}

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1411/1411 [01:57<00:00, 11.97it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1411/1411 [01:04<00:00, 21.88it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1411/1411 [00:50<00:00, 27.88it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1411/1411 [03:29<00:00,  6.73it/s]

   cluster   NDCG@50  Distinct Categories @ 50  Avg Watch Ratio @ 50  \
0  Overall  0.879138                 20.328136              0.841067

   Avg Precision@500  Avg Recall@500  Avg F1@500  \
0           0.423718        0.898895     0.56732

   Avg Predicted Watch Ratio @ 50
0                        8.166317

In [51]:
metrics_dict_unsegmented['batch_size128_num_epochs10_lr0.001_embedding_dim64_dropout0.3_alpha0.01_beta0.01']

,cluster,NDCG@50,Distinct Categories @ 50,Avg Watch Ratio @ 50,Avg Precision@500,Avg Recall@500,Avg F1@500,Avg Predicted Watch Ratio @ 50
0,Overall,0.879138,20.328136,0.841067,0.423718,0.898895,0.56732,8.166317